.mainNav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    min-width: 100%;
    background: $primary-color;
    color: white;
    display: grid;
    //logo - break - links - break - social links
    grid-template-columns: 300px minmax(50px, 200px) minmax(450px, 1fr) minmax(50px, 15%) 200px;
    padding: 10px;

    @media screen and (min-width: 2000px) {
        grid-template-columns: 300px 1fr minmax(450px, 1000px) minmax(50px, 15%) 1fr 200px;
    }

    @media screen and (max-width: 1080px) {
        grid-template-columns: 300px minmax(35px, 200px) minmax(350px, 1fr) minmax(35px, 15%) 150px;
    }

    @media screen and (max-width: 968px) {
        grid-template-columns: auto auto;
    }

    .logo {
        grid-column: 1/2;
        display: flex;
        z-index: 3;

        img {
            @media screen and (max-width: 400px) {
                width: 13vw;
            }
        }

        h1 {
            margin-left: 8px;
            font-size: em(20);

            @media screen and (max-width: 400px) {
                font-size: 5vw;
            }

            span {
                font-size: em(14);
                display: block;
                font-weight: 300;
                color: $secondary-color;

                @media screen and (max-width: 400px) {
                    font-size: 4vw;
                }
            }
        }
    }

    ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-weight: 500;

        a:hover {
            color: $secondary-color;
            transition: color 0.5s ease;
        }
    }

    .otherPages {
        grid-column: 3/4;
        font-size: em(20);
        text-transform: uppercase;

        @media screen and (max-width: 1080px) {
            font-size: em(18);
        }

        @media screen and (max-width: 968px) {
            display: none;
            flex-direction: column;
            justify-content: center;
            position: fixed;
            grid-column: unset;
            top: 0;
            left: 0;
            height: 100vh;
            width: 100%;
            background: $primary-color;
            font-size: em(36);

            li {
                margin: 40px 0;

                ::after {
                    margin-top: 12px;
                }
            }
        }

        @media screen and (max-width: 600px) {
            font-size: em(24);

            li {
                margin: 20px 0;
            }
        }

        //the line on hover (!after a list item)
        li {
            ::after {
                content: "";
                display: block;
                border-bottom: solid 1px $secondary-color;
                transform: scaleX(0);
                transition: transform 0.5s ease;
                transform-origin: right;
            }

            :hover::after {
                transform: scaleX(1);
                transform-origin: left;
            }
        }
    }

    .social {
        grid-column: 5/6;
        font-size: em(24);
        margin-right: 25px;

        @media screen and (min-width: 2000px) {
            grid-column: 6/7;
        }

        @media screen and (max-width: 1080px) {
            font-size: em(20);
            margin-right: 10px;
        }

        @media screen and (max-width: 968px) {
            display: none;
            justify-content: space-evenly;
            position: fixed;
            bottom: 0;
            left: 0;
            grid-column: unset;
            width: 100%;
            margin-right: 0;
            padding: 0 0 10px 0;
            font-size: em(24);
        }
    }

    .hamburger {
        display: none;

        @media screen and (max-width: 968px) {
            display: block;
            justify-self: end;
            padding: 0 10px;
        }

        @media screen and (max-width: 600px) {
            transform: scale(0.75);
            padding-right: 0;
        }
    }

    .slide {
        animation: slide 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    }

    .slide-back {
        animation: slide-back 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    }

    @keyframes slide {
        0% {
            transform: translateX(100vw);
        }
        100% {
            transform: translateX(0vw);
        }
    }

    @keyframes slide-back {
        0% {
            transform: translateX(0vw);
        }
        100% {
            transform: translateX(100vw);
        }
    }
}
